header{
    background-color: #FFF9F4;;
}
.fw-bold{
    font-size: 80px;
    font-family: 'Bebas Neue', cursive;
}
h1{
    font-size: 48px;
    font-family: 'Bebas Neue', cursive;
}
.card-img-top{
    background-color: #F1F1F1;
}